/* App.scss */
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../src/assets/fonts/fonts.scss";

// Variables
$primary-color: #ffd93b;
$secondary-color: #000000;
$font-size-large: 1.5rem;
// custom btn styles

.btn-tcbea {
  border: none;
  font-family: "Roboto", sans-serif;
}
.btn-tcbea:hover {
  background-color: $primary-color;
  color: #ffff;
}
.btn-tcbea-noBorders {
  border: none;
  font-family: "Roboto", sans-serif;
}
// BEM Naming Convention
.app {
}

.header {
  &__nav__container {
    padding: 1em 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // background-color: #187795;
    &--navBtns {
      display: flex;
    }
    &--navBtnsMobil {
      display: flex;
      flex-direction: column;
    }
  }
}
.logo {
  max-width: 150px;
}

.home {
  &__hero__image {
    width: 150px;
  }
  &__hero__container {
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        "topleft topcenter topright"
        "centerleft centercenter centerright"
        "bottomleft bottomcenter bottomright";
      padding: 1em 1em;
    }
  }
  &__hero__h2 {
    border: 1px solid $primary-color;
    font-size: 1rem;
    padding: 1em;
  }
  &__hero__first_subcontainer,
  &__hero__second_subcontainer,
  &__hero__third_subcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding: 1em 1em;
  }
  &__hero__first_subcontainer {
    grid-area: topleft;
    position: relative;
    top: 45%;
  }
  &__hero__second_subcontainer {
    grid-area: centercenter;
  }
  &__hero__third_subcontainer {
    grid-area: bottomright;
    position: relative;
    top: -45%;
  }
}
